.yellow{
    background-color: whitesmoke;
    width: 400px;
    padding: 20px;
    font-size: 17px;
    border-radius: 5px;
    color: black;
    
}

.blue{
    background-color: rgb(73, 206, 161);
    width: 400px;
    padding: 20px;
    font-size: 17px;
    border-radius: 5px;
    color: white;
}

.grey{
    background-color: rgb(163, 148, 62);
    width: 400px;
    padding: 20px;
    font-size: 17px;
    border-radius: 5px;
    color: white;
}

.information{
    display: flex;
    gap: 30px;
}

.fa-brands{
   font-size: 45px;
   display: flex;
   justify-content: flex-end;
}

/* ejercicio 1 */

.UserCard{
    background-color: rgb(78, 78, 200);
    width: 500px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}



