/* ejercicio 1 */

.yellow{
    background-color: whitesmoke;
    width: 400px;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    color: black;
}

.blue{
    background-color: rgb(72, 196, 155);
    width: 400px;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}

.grey{
    background-color: rgb(212, 196, 102);
    width: 400px;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}

.information{
    display: flex;
    gap: 30px;
}

.fa-brands{
   font-size: 50px;
   display: flex;
   justify-content: flex-end;
}

/* ejercicio 2 */

.userCard{
    background-color: rgb(78, 78, 200);
    width: 500px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}


/* ejercicio 4 */


.green{
    background-color: green;
    width: 100px;
    padding: 30px;
    font-size: 25px;
}

.yello{
    background-color: yellow;
    width: 100px;
    padding: 30px;
    font-size: 25px;
}

.red{
    background-color: red;
    width: 100px;
    padding: 30px;
    font-size: 25px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* ejercicio 5 */


.data{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.exercise{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}